//https://github.com/OpenPermaculture/just-the-docs/blob/main/_sass/support/_variables.scss

$body-background-color: #FFFFFF;
$sidebar-color: #F3E9D5;
$border-color: #000000;
$body-text-color: #000000;
$body-heading-color: #000000;
$nav-child-link-color: $green-200;
$search-result-preview-color: #F3E9D5;
$link-color: $green-200;
$btn-primary-color: $green-200;
$base-button-color: $green-250;
$search-background-color: #FFFFFF;
$table-background-color: #FFFFFF;
$feedback-color: darken($sidebar-color, 3%);
